{% extends 'base.html.twig' %}

{% block title %}BandasDeMusica index{% endblock %}

{% block body %}
    <h1>BandasDeMusica index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Numero_de_musicos</th>
                <th>Nombre_del_director</th>
                <th>Pueblo</th>
                <th>Provincia</th>
                <th>Codigo_postal</th>
                <th>Telefono</th>
                <th>Correo_electronico</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bandas_de_musica in bandas_de_musicas %}
            <tr>
                <td>{{ bandas_de_musica.id }}</td>
                <td>{{ bandas_de_musica.nombre }}</td>
                <td>{{ bandas_de_musica.numeroDeMusicos }}</td>
                <td>{{ bandas_de_musica.nombreDelDirector }}</td>
                <td>{{ bandas_de_musica.pueblo }}</td>
                <td>{{ bandas_de_musica.provincia }}</td>
                <td>{{ bandas_de_musica.codigoPostal }}</td>
                <td>{{ bandas_de_musica.telefono }}</td>
                <td>{{ bandas_de_musica.correoElectronico }}</td>
                <td>
                    <a href="{{ path('app_bandas_de_musica_show', {'id': bandas_de_musica.id}) }}">show</a>
                    <a href="{{ path('app_bandas_de_musica_edit', {'id': bandas_de_musica.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bandas_de_musica_new') }}">Create new</a>
{% endblock %}
