{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1 style="text-align:center">Usuario</h1>

    <div class="mb-3" style="width: 300px; margin: auto;">
        <div class="container">
            <table class="table table-bordered border-primary">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Contraseña</th>
                        <td>{{ user.password }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ user.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Número de Músicos</th>
                        <td>{{ user.numeroDeMusicos }}</td>
                    </tr>
                    <tr>
                        <th>Nombre Director</th>
                        <td>{{ user.nombreDirector }}</td>
                    </tr>
                    <tr>
                        <th>Pueblo</th>
                        <td>{{ user.pueblo }}</td>
                    </tr>
                    <tr>
                        <th>Provincia</th>
                        <td>{{ user.provincia }}</td>
                    </tr>
                    <tr>
                        <th>Código Postal</th>
                        <td>{{ user.codigoPostal }}</td>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <td>{{ user.telefono }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <a class="btn btn-info" href="{{ path('app_user_index') }}">Volver al Listado</a>
            <a class="btn btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>
        </div>
    </div>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
